html {
  background-color: #222;
  color: #ccc;
  font-family: ui-monospace, sfmono-regular, consolas, monaco, monospace, serif;
  font-size: min(1em + 1vw, 1.5em);
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template: repeat(2, 1fr) auto / minmax(min-content, 1fr);
}

header {
  background-color: #1f193a;
}

h1, blockquote {
  margin: 0;
}

header,
main {
  display: grid;
  place-content: center;
}

header,
main,
footer {
  padding: 1em;
}

a:any-link {
  color: #b4abda;
}

.grift-counter {
  border-top: 16px solid transparent;
  border-bottom: 0;
  border-right: 0;
  border-image-source: url(https://storage.googleapis.com/primary-web3/flames.gif);
  border-image-slice: 16 0;
  border-image-repeat: repeat;
}

.grift-counter p {
  background-color: #5948a4;
  color: #fff;
  padding: 0.5em 1em;
  margin: 0;
}

footer {
  text-align: center;
}
